{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доска объявлений</title>
	<link rel="stylesheet" type="text/css" href="{% static 'ads/styles.css' %}">
</head>
<body>
    <header>
        <h1>Доска объявлений</h1>
        <nav>
            <a href="{% url 'index' %}">Главная</a> |
            <a href="{% url 'create' %}">Создать объявление</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
